title: __TITLE__
url: __URL__
baseurl: __BASEURL__
lang: __DEFAULT_LANG__
default_lang: __DEFAULT_LANG__
languages: __LANGUAGES__
theme: unaltraweb
plugins: [unaltraweb]
unaltraweb:
  site_profile: unaltredocs
  documentation:
    collection: documentation
