title: __TITLE__
description: ""
copyright_holder: __TITLE__
keywords: ""
url: __URL__
baseurl: __BASEURL__
lang: __DEFAULT_LANG__
default_lang: __DEFAULT_LANG__
languages: __LANGUAGES__
theme: unaltraweb
unaltraweb:
  site_profile: unaltreprojecte
  features:
    news: true
    blog: false
    cv: false
    projects: true
    publications: true
    metrics: false
    docs: false
    manual: false
    readings: true
