version: 1
enabled: true
source_roots:
  - _chapters
  - assets/quarto
generated_assets_root: assets/img/generated
engines:
  python:
    image: __COMPUTE_PYTHON_IMAGE__
  r:
    image: __COMPUTE_R_IMAGE__
