title: __TITLE__
url: __URL__
baseurl: __BASEURL__
lang: __DEFAULT_LANG__
default_lang: __DEFAULT_LANG__
languages: __LANGUAGES__
theme: unaltraweb
plugins: [unaltraweb]
author:
  name: __TITLE__
unaltraweb:
  site_profile: unaltreselfie
  features:
    news: true
    blog: true
    cv: true
    projects: true
    publications: true
    readings: true
