---
layout: default
---
{% assign page_hero_image = page.hero_image %}
{% if page.hero and page.hero.image %}
  {% assign page_hero_image = page.hero.image %}
{% endif %}

{% if page._styles %}
  <!-- Page/Post style -->
  <style type="text/css">
    {{ page._styles }}
  </style>
{% endif %}

{% if page_hero_image %}
  {% include page-hero.liquid title=page.title %}
{% endif %}

<div class="post{% if page_hero_image %} post-page-hero{% endif %}">
  {% unless page_hero_image %}
    <header class="post-header">
      <h1 class="post-title">{{ page.title }}</h1>
      <p class="post-description">{{ page.description }}</p>
    </header>
  {% endunless %}

  <article>
    {{ content }}
  </article>

  {% if page.related_publications %}
    <h2>{% include t.liquid key='page.references' default='References' %}</h2>
    <div class="publications">
      {% bibliography --cited_in_order %}
    </div>
  {% endif %}

  {% if site.giscus and page.giscus_comments %}
    {% include giscus.liquid %}
  {% endif %}
</div>
